# Backend
/backend/target/
/backend/.mvn/
!/backend/.mvn/wrapper/maven-wrapper.jar
/backend/mvnw
/backend/mvnw.cmd
/backend/*.iml
/backend/.idea

# Frontend
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.example

